<a href="/post/{{id}}">
    <article class="message">
        <div class="message-header">
            <p>{{title}}</p>
            <p>{{{formatDate date}}}</p>
        </div>
        <div class="message-body">
            <p>{{post}}</p>
            <p><strong>{{user.name}}</strong></p>
        </div>
    </article>
</a>