<div class="container is-max-desktop">
    <div class="columns">
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{title}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">{{title}}</h1>
            <h2 class="subtitle">{{user.name}}</h2>
            <hr>
            <p class="block">{{post}}</p>
            <hr>
            <p>{{{formatTime date}}} - {{{formatDate date}}}</p>
        </div>
    </div>
</div>