<div class="container is-max-desktop">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">{{title}}</h1>
            <p>{{post}}</p>
            <p><strong>{{user.name}}</strong></p>
            <p>{{{formatTime date}}} - {{{formatDate date}}}</p>
        </div>
    </div>
</div>